.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-card {
  --background: var(--my-secondary);
  --color: var(--my-text);
  padding: 0.3em;
  margin: 5px;
  border-radius: 10px;
}

.text {
  font-size: xx-large;
  text-align: center;
}

.confirm-button {
  --background: var(--my-primary);
  --padding: 0.5em;
  --border-radius: 0 10px 10px 0;
}

.result-card {
  margin: 0 10vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  text-align: center;

  > * {
    --color: var(--my-text);
    background-color: var(--my-secondary);
    padding: 1em;
    font-size: x-large;

    > * {
      display: inline;
    }
  }
}
