.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-card {
  --background: #003049;
  --color: white;
  padding: 0.3em;
  margin: 5px;
  border-radius: 10px;
}

.input-field {
  font-size: xx-large;
  text-align: center;
}

.confirm-button {
  --background: #d00000;
  --padding: 0.5em;
  --border-radius: 0 10px 10px 0;
}

.result-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  text-align: center;

  > * {
    --color: white;
    padding: 1em;
    font-size: x-large;

    > * {
      display: inline;
    }
  }
}
