.player-stats {
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-tag-card {
  --background: #003049;
  --color: white;
  padding: 0.3em;
  margin: 5px;
  border-radius: 10px;
}

.player-tag-input {
  font-size: xx-large;
}

.confirmButton {
  --background: #d00000;
  --padding: 0.5em;
  --border-radius: 0 10px 10px 0;
}
